include ../cards/item-card/item-card
include ../components/page-header/page-header

doctype html
html(lang="ru")
     head
         meta(charset="UTF-8")
         meta(http-equiv="X-UA-Compatible", content="IE=edge")
         meta(name="viewport", content="width=device-width, initial-scale=1.0")
         title Document
     body.portfolio-page 
        +page-header 
        main.portfolio-page__main-block
            .slides
                .slide
                    +item-card("../src/assets/images/portfolio_1.jpg","Домашний кинотеатр\nс изюминкой","В нашем новом проекте домашнего кинотеатра задача была в целом довольно типичной – построить систему с использованием встроенных акустических систем.","first")
                .slide
                    +item-card("../src/assets/images/portfolio_2.jpg","Роскошный\nавтомобиль\nс «умным салоном»","Эксклюзивный Mercedes Benz V class обрел не только шикарный салон первого класса с креслами, баром, сейфом и телевизором, но и благодаря нашей помощи позволил управлять всем этим богатством с iPad!")
                .slide
                    +item-card("../src/assets/images/portfolio_3.jpg","Гостиная-кинотеатр","Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома и не имеет окон.")
                .slide
                    +item-card("../src/assets/images/portfolio_4.jpg","Кинотеатр на крыше","Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома  и не имеет окон.")
                .slide
                    +item-card("../src/assets/images/portfolio_1.jpg","Домашний кинотеатр\nс изюминкой","В нашем новом проекте домашнего кинотеатра задача была в целом довольно типичной – построить систему с использованием встроенных акустических систем.","first")
                .slide
                    +item-card("../src/assets/images/portfolio_2.jpg","Роскошный\nавтомобиль\nс «умным салоном»","Эксклюзивный Mercedes Benz V class обрел не только шикарный салон первого класса с креслами, баром, сейфом и телевизором, но и благодаря нашей помощи позволил управлять всем этим богатством с iPad!")
                .slide
                    +item-card("../src/assets/images/portfolio_3.jpg","Гостиная-кинотеатр","Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже дома и не имеет окон.")
                .slide
                    +item-card("../src/assets/images/portfolio_4.jpg","Кинотеатр на крыше","Посмотрев на фотографии этой светлой гостиной сразу и не поймешь, что расположена она в цокольном этаже домаи не имеет окон.")
                .slide
                    +item-card("../src/assets/images/portfolio_1.jpg","Домашний кинотеатр\nс изюминкой","В нашем новом проекте домашнего кинотеатра задача была в целом довольно типичной – построить систему с использованием встроенных акустических систем.","first")
                .slide
                    +item-card("../src/assets/images/portfolio_2.jpg","Роскошный\nавтомобиль\nс «умным салоном»","Эксклюзивный Mercedes Benz V class обрел не только шикарный салон первого класса с креслами, баром, сейфом и телевизором, но и благодаря нашей помощи позволил управлять всем этим богатством с iPad!")
        footer.page-footer 
            .page-footer__wrapper 
                a.page-footer__oreder-spec-button Заказать выезд специалиста
                a.page-footer__oreder-project-button Заказать проектирование